<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creativeoffice.motosp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MotoSp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_motor_bike"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_motor_bike"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.EtkinlikDetayActivity"></activity>
        <activity android:name=".Activity.EtkinliklerActivity" />
        <activity android:name=".Activity.TumKonularActivity" />
        <activity android:name=".Activity.HaberDetaylariActivity" />
        <activity android:name=".Activity.GidilenProfilActivity" />
        <activity android:name=".Activity.KonuDetayActivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ProfileSettingActivity" />
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.MotorActivity" />
        <activity android:name=".Activity.BayiActivity" />
        <activity android:name=".Activity.ModelDetayiActivity" />
    </application>

</manifest>